@{
    ViewData["Title"] = "Home Page";
}
@model ALMTheo.Models.BankRepository
<div style="margin: 0%">
    <div style="margin-left: 10%; width :80%">
        <div class="col-lg-4">
            <h2>Hej</h2>
            <p>Kunder</p>
      
                @foreach (var acc in Model.CustomersList)
                {
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3> @(acc.Name + " Kund Id " + acc.CustomerID) </h3>
                            @foreach (var i in Model.AccountsList.Where(m => m.CustomerID == acc.CustomerID))
                            {
                                <ul style="border-bottom:solid 2px black">
                                    <li>
                                        <h4> @("Account : " + i.AccountID)</h4>
                                        <h4> @("Saldo :" + i.Money)</h4>
                                    </li>

                                </ul>
                            }
                        </li>
                    </ul>
                    <br />
                }
          
        </div>
    </div>
</div>

