<div style="margin: 0%">
    <div style="margin-left: 10%; width :80%">

        <div class="col-lg-4">
            <h2>Konto</h2>
            <p>Insättning</p>
            <h1 style="font-weight:bolder; color:darkred;">@ViewBag.Error</h1>
            <form asp-action="PutMoney" asp-controller="Transactions" method="post">
                <div class="form-group">
                    <label for="account">Account:</label>
                    <input type="number" name="account" value="" class="form-control" />
                    <label for="money">Amount:</label>
                    <input type="number" name="money" value="" class="form-control" />

                    <input type="submit" value="Sätt in" class="btn btn-primary" />
                </div>
            </form>
            <br />
            <br />
            <p>Uttag</p>
            <form asp-action="TakeMoney" asp-controller="Transactions" method="post">
                <div class="form-group">
                    <label for="account">Account:</label>
                    <input type="number" name="account" value="" class="form-control" />
                    <label for="money">Amount:</label>
                    <input type="number" name="money" value="" class="form-control" />

                    <input type="submit" value="Ta ut" class="btn btn-primary" />
                </div>
            </form>


        </div>

    </div>
</div>

